<!DOCTYPE html>
<hamlt lang="ja">
<title><%= title %></title>
<meta charset="utf-8">
<meta http equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<style>
html {
  height:100%;
  width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
}
body {
  font-family:"游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic";
  font-size: 1.4em;
  height:100%;
  width: 100%;
  background-color:rgba(255,255,255,0.5);
  padding-top: 15px;
  padding-left:5px;
  margin: 0 auto;
}
main{
  margin-top: 0;
  padding-top: 0;
  height:100%;
  width: 100%;
  margin: 0 auto;
}
ul{
  list-style-type: none;
  padding-left:0px;
  width: 100%;
  margin: 0 auto;
}
li{
  padding-left:0px;
}
.icons:hover{
  cursor: pointer;
}
h1 {
  font-size: 4.0rem;
}
</style>
</head>
<body>
<header style="position:fixed; z-index:2;">
  <a href="/"><button class="btn btn-default"><i class="fa fa-circle-o-notch icons" style="font-size:2.0rem" aria-hidden="true"></i></button></a>
  <a href="/search_user"><button class="btn btn-default"><i class="fa fa-search icons" style="font-size:2.0rem" aria-hidden="true"></i><i class="fa fa-address-book-o icons" style="font-size:2.0rem" aria-hidden="true"></i></button></a>
  <a href="/search_books"><button class="btn btn-default"><i class="fa fa-search icons" style="font-size:2.0rem" aria-hidden="true"></i><i class="fa fa-book icons" style="font-size:2.0rem" aria-hidden="true"></i></button></a>
  <a href="/userdata"><button class="btn btn-default"><i class="fa fa-user-circle-o icons" style="font-size:2.0rem" aria-hidden="true"></i></button></a>
</header>
<main style="margin-top:40px;">
  <div class="container-fluid">
  <h1>フォロワー</h1>
  <ul>
    <% if(typeof followerList != 'undefined'){ %>
      <% followerList.forEach(function(userItem){ %>
        <li style="margin-top:20px;">
          <div class="row">
            <div class="col-xs-2 col-md-1 col-sm-1" style="margin-top:10px;">
              <img src="<%= userItem.image %>" width="40" height="40" class="img-rounded">
            </div>
            <div class="col-xs-6 col-md-5 col-sm-5">
              <h4><a href="/userdata/<%= userItem.user_id %>"><%= userItem.user_name %></a></h4>
              <p><a href="/userdata/<%= userItem.user_id %>"><%= userItem.user_id %></a></p>
            </div>
            <div class="col-xs-4 col-md-6 col-sm-6" style="margin-top:10px;">
              <p class="follow_or_not" onclick="asyncFollow(this, '<%= userItem.user_id %>')" value="<%= userItem.user_id %>"></p>
            </div>
          </div>
        </li>
      <% }); %>
    <% } %>
    <div class="row">
      <div class="col-xs-12">
        <img src="/images/apps/Sophiliar-logo.png">
      </div>
    </div>
  </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/http.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/protect.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/follow.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/follow_or_not.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/deny.js"></script>
<script>
$(function(){for(var a=document.getElementsByClassName("follow_or_not"),b=0;b<a.length;b++){var c=$(a[b]).attr("value");asyncFollowOrNot(a[b],c)}}),$(function(){checkURL()}),$(function(){$("a.disable").click(function(){return!1})});
</script>
</body>
</html>
